<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>OMG GG!</p>

<div id="wrapper">
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
              <!--
				<div id="sidebar">
					<ul>

						<li>
							<h2>Search Here:</h2>
							<div id="search" >
								<form method="get" action="#">
									<div>
										<input type="text" name="s" id="search-text" value="" />
										<input type="submit" id="search-submit" value="" />
									</div>
								</form>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>
						<li>
							<h2>Aliquam tempus</h2>
							<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
						</li>
						<li>
							<h2>Categories</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>
						<li>
							<h2>Blogroll</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>
						<li>
							<h2>Archives</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>

					</ul>

				</div>
				-->
				<!-- end #sidebar -->
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">Welcome!</a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>Welcome to the launch of the Stealth Spliff!</p>

                          <p>With marijuana now legal in two states and available for medical treatment in many others, cannabis has never been more popular.</p>
                          <p>However, the massive proliferation of cannabis consumption brings a similarly massive increase in smoking and all its nasty side effects.  Asthma, bronchitis, and lung
								cancer are scary and very real side effects from continued smoke inhalation.</p>
                          <p>Leaf and wax vaporizers are a great start to safely enjoying marijuana, but the Stealth Spliff aims to take
								healthy cannabis consumption to the next level!  Just as the e-cigarette is changing the game in tobacco use, we aim to <strong>eliminate</strong> the physical
								health risks of cannabis inhalation.</p>
                          <p>We love the Stealth Spliff and believe you will too. Interested in learning more? <a href="mailto:StealthSpliff@gmail.com">Send us a mail</a> and we will keep you in the loop!</p>

                          <p>The Stealthspliff team will be at Coachella this year starting April 12!  Look for the crew for demonstrations, samples, and all around fun.  We will be sponsoring
                            gifts, including free Stealthspliffs and Dank Drops! Also, look for new announcements coming soon on the upcoming availability of the Stealthspliff and Dank Drop at
                            your nearby legal cannabis provider. Hope to see you there!</p>

                        </div>
					</div>
                  <!--
					<div class="post">
						<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
						<p class="meta"><span class="date">February 10, 2013</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est. Suspendisse lacus turpis, cursus egestas at sem. Sed lacus. Donec lectus. </p>
							<p class="links"><a href="#" class="button">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="button">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title"><a href="#">Consecteteur hendrerit </a></h2>
						<p class="meta"><span class="date">February 08, 2013</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. </p>
							<p class="links"><a href="#" class="button">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="button">Comments</a></p>
						</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
					-->
				</div>
				<!-- end #content -->

				<div id="sidebar2">
					<ul>
						<li>
							<h2>Connect with us</h2>
							<p><a href="https://www.facebook.com/pages/Stealthspliff/317899298325572?fref=ts" class="facebook"><img width="123" height="35" src="assets/facebook.png" title="Connect on Facebook" alt=""></a>
								<a href="https://twitter.com/#!/stealthspliff" class="twitter"><img width="123" height="35" src="assets/twitter.jpg" title="Follow us on Twitter" alt=""></a>
								<iframe src="https://www.facebook.com/plugins/like.php?href=Stealthspliff"
       							 scrolling="no" frameborder="0"
        							style="border:none; width:260px; height:70px"></iframe>
								<a class="twitter-timeline" href="https://twitter.com/StealthSpliff" data-widget-id="316690812140392449">Tweets by @StealthSpliff</a>
								</p>
                                <script>
                                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                                    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
                                        js.src="//platform.twitter.com/widgets.js";
                                        fjs.parentNode.insertBefore(js,fjs);
                                        }}(document,"script","twitter-wjs");
                                </script>
						</li>
                      <!--
						<li>
							<h2>Suspendisse libero</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>
						-->
                   </ul>
				</div>
              <div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page --> 
</div>

